@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background-image: url('/Contact Page/images/dotBackground.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

/* Form Container */
.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 400px;
    background-color: white;
    margin-right: 250px;
    box-shadow: 0 4px 40px 0 rgba(0, 0, 0, .15);
}

/* Form Labels */
.form-container label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    font-weight: 500;
}

/* Form Inputs */
.form-container input,
.form-container textarea {
    width: 88%;
    margin-bottom: 12px;
    border-radius: 8px;
    background-color: rgb(236, 236, 236);
    border: 1px solid rgba(228, 224, 243);
    padding: 15px 10px;
}

/* Form Name Inputs */
#first-name-label,
#last-name-label {
    display: inline-block;
    width: 48%;
}

#first-name,
#last-name {
    display: inline-block;
    width: 43%;
    margin-right: 5px;
}

/* Form Submit Button */
.submit-button {
    display: block;
    border: none;
    padding: 12px 25px;
    background-color: rgb(76, 56, 172);
    color: white;
    font-weight: bold;
    font-size: 16px;
    border-radius: 5px;
}

/* Form Textarea */
#text-box {
    background-color: rgb(236, 236, 236);
    border: 2px solid rgba(228, 224, 243, 255);
    width: 88%;
    margin-bottom: 20px;
    border-radius: 8px;
}

/* Form Container Margin */
.form {
    margin: 0px 0px 10px 25px;
}

/* Form Focus Styles */
input:focus,
textarea:focus {
    outline: none;
    border: 1px solid rgba(173, 27, 224, 255);
}

/* Email Input Margin */
input[type="email"] {
    margin-top: 1px;
}
